<!-- Statistics Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="bg-light p-5 rounded">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>Usuarios activos</h4>
            <h1>1.2M+</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-clipboard-list text-secondary"></i>
            <h4>Anuncios publicados</h4>
            <h1>850K+</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-handshake text-secondary"></i>
            <h4>Transacciones exitosas</h4>
            <h1>95%</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-globe text-secondary"></i>
            <h4>Países</h4>
            <h1>12</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Statistics End -->
